/* Smooth scrolls to sections: */
html {
  scroll-behavior: smooth;
}

/* Change setting for smaller screens: */
@media (max-width: 1505px) { 
  .main {
    padding-left: 100px;
  }
}

@media (max-width: 1270px) { 
  .main {
    padding-left: 0px;
  }
  #navigation {
    display: none;
  }
}

/* Nav Menu: */

.toggler{

    z-index:2;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 30px;
    left: 50px;
    cursor: pointer;
    opacity: 0;
}

.hamburger{
    color:#000000;
    position: fixed;
    top: 30px;
    left: 35px;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
  
  /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
  
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

.hamburger > div{
    color:#000000;
    background:#000000;
    position: relative;
    top: 0;
    left: 0;
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.hamburger > div::before {
    background: black;
    background:#000000;
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}
.hamburger > div::after{
    color:#000000;
    background:#000000;
    content: '';
    position: absolute;
    top: -10px;
    background: white;
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}

.hamburger > div::after{
    color:#000000;
    background:#000000;
    top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
    background: black;
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background:#000000;
    background: black;
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: black;
}


/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

.menu{
    width: 0%;
    height: 20vh;
  
  /* APPLYING TRANSITION TO THE MENU :  */
  
    transition: all 0.4s ease;
    position: fixed;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.toggler:checked ~ .menu{
    width: 30%;
}


/* STYLING THE LIST :  */

.menu >  div > ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65px;
    left: 15px;
  
  /* HIDDEN INITIALLY  :  */
  
    visibility: hidden;
}

.menu > div > ul > li{
    list-style: none;
    padding-top: 0.22rem;
}

.menu > div > ul > li > a{
    color: black;
    text-decoration: none;
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

.menu > div > ul {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out, visibility 0s linear 0.15s;
}

.toggler:checked ~ .menu > div > ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.toggler:checked ~ .menu > div > ul > li > a:hover{
    color: var(--accent-color);
}

:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #5c98ff;
  --skill-bg-color: #dddddd;
  --svg-color: #767676;
}

:root[data-theme="dark"] {
  --bg-color: #0f0f0f;
  --text-color: #f5f5f5;
  --accent-color: #5c98ff;
  --skill-bg-color: #2a2a2a;
  --svg-color: #b0b0b0;
}

#light-icon,
#dark-icon {
  display: none;
}

/* Images in the projects section: */
.projects-section img {
  height: 200px;
  width: 1000px;
  object-fit: cover;
}

[data-theme="light"] #light-icon {
  display: inline;
}

[data-theme="dark"] #dark-icon {
  display: inline;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 40px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Lists */
.socials-list,
.project-skills,
.project-links-list {
  padding: 0px 0px;
  display: flex;
  gap: 10px;
}

/* Removing defaults */
ul li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.socials-item a svg,
.project-links-item a svg {
  color: var(--svg-color);
}

.socials-item a svg:hover,
.project-links-item a svg:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.name {
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.description {
  font-size: 19px;
  margin-top: 8px;
  margin-bottom: 0px;
}

h2 {
  font-size: 19px;
}

.experience-section {
  padding: 8px 0;
}

.experience-job-title {
  margin-bottom: 2px;
}

.experience-job-info {
  margin-top: 12px;
}

.project-skills li {
  background-color: var(--skill-bg-color);
  color: var(--svg-color);
  padding: 2px 8px;
  border-radius: 2px;
}

.project-title {
  margin-bottom: 8px;
}

.project-description {
  margin-top: 8px;
}

.personal-details {
  margin-top: -15px;
  padding-top: 2px;
  margin-bottom: -15px;
  display: flex;
  align-items: center; 
  gap: 10px;
  color: #767676;
  font-size: small;
}

.personal-details svg {
  width: clamp(18px, 2.5vw, 18px);
  height: clamp(18px, 2.5vw, 18px);
  flex-shrink: 0; /* Retain size in of icon in mobile view */
}

.section-graphic {
  justify-content: center;
  display: flex;
  align-items: center;
}